<div class='container border border-light rounded border-2'>
  <form
    method='POST'
    id='add-{{toLowerCase (removeLastLetter pageTitle)}}-form'
    class='mb-4'
  >
    <legend>Add a new {{removeLastLetter pageTitle}}</legend>
    <p>Use the form below to add a new
      {{toLowerCase (removeLastLetter pageTitle)}}.
    </p>
    <div class='row mb-3'>
      <fieldset>
        <label class='form-label' for='input-name'>
          {{removeLastLetter pageTitle}}
          name:
        </label>
        <input
          class='form-control'
          type='text'
          name='input-name'
          id='input-name'
        />
        <div class='form-text'>
          <em>First name Last name</em>
        </div>
      </fieldset>
    </div>

    <div class='row mb-3'>
      <fieldset>
        <label class='form-label' for='input-address'>
          Address
        </label>
        <input
          class='form-control'
          type='text'
          name='input-address'
          id='input-address'
        />
        <div class='form-text'>
          <em>Street No. Street Name City State Zip</em>
        </div>
      </fieldset>
    </div>

    <div class='row mb-3'>
      <fieldset>
        <label class='form-label' for='input-email'>
          Email
        </label>
        <input
          class='form-control'
          type='email'
          name='input-email'
          id='input-email'
        />
        <div class='form-text'>
          <em>address@provider.ext</em>
        </div>
      </fieldset>
    </div>

    <div class='row mb-3'>
      <fieldset>
        <label class='form-label' for='input-phone'>
          Phone number
        </label>
        <input
          class='form-control'
          type='tel'
          name='input-phone'
          id='input-phone'
        />
        <div class='form-text'>
          <em>(###)###-####</em>
        </div>
      </fieldset>
    </div>

    <button class='btn btn-success my-2 my-sm-0 btn-sm' type='submit'>Add
      {{toLowerCase (removeLastLetter pageTitle)}}</button>
  </form>
</div>
<script src='/js/add_customer.js'></script>