<div class='container border border-light rounded border-2 mb-2'>
  <form
    method='POST'
    id='add-{{toLowerCase (removeLastLetter pageTitle)}}-form'
    class='mb-4'
    action='/add-{{toLowerCase (removeLastLetter pageTitle)}}-form'
  >
    <legend>Add a new {{removeLastLetter pageTitle}}</legend>
    <p>Use the form below to add a new
      {{toLowerCase (removeLastLetter pageTitle)}}.
    </p>
    <div class='row mb-3'>
      <fieldset>
        <label class='form-label' for='add-name'>
          {{removeLastLetter pageTitle}}
          name
        </label>
        <input
          class='form-control'
          type='text'
          name='add-name'
          id='add-name'
          required
        />
        <div class='form-text'>
          <em>First name Last name</em>
        </div>
      </fieldset>
    </div>

    <div class='row mb-3'>
      <fieldset>
        <label class='form-label' for='add-address'>
          Address
        </label>
        <input
          class='form-control'
          type='text'
          name='add-address'
          id='add-address'
          required
        />
        <div class='form-text'>
          <em>Street No. Street Name City State Zip</em>
        </div>
      </fieldset>
    </div>

    <div class='row mb-3'>
      <fieldset>
        <label class='form-label' for='add-email'>
          Email (Required*)
        </label>
        <input
          class='form-control'
          type='email'
          name='add-email'
          id='add-email'
          required
        />
        <div class='form-text'>
          <em>address@provider.ext</em>
        </div>
      </fieldset>
    </div>

    <div class='row mb-3'>
      <fieldset>
        <label class='form-label' for='add-phone'>
          Phone number
        </label>
        <input
          class='form-control'
          type='tel'
          name='add-phone'
          id='add-phone'
          pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}'
          placeholder='optional'
        />
        <div class='form-text'>
          <em>###-###-####</em>
        </div>
      </fieldset>
    </div>

    <button class='btn btn-success my-2 my-sm-0 btn-sm' type='submit'>Add
      {{toLowerCase (removeLastLetter pageTitle)}}</button>
  </form>
</div>