<h1>{{pageTitle}}</h1>
<table id='colors-table'>
  <thead>
    <tr>
      {{#each data.0}}
        <th>
          {{@key}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr data-value={{this.color_id}}>
        <td>{{this.color_id}}</td>
        <td>{{this.color}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div>
  <form method='GET' id='id="search-color-html" ' action='/colors'>
    <legend>Search Color</legend>
    <fieldset>
      <label for='color-name'> Color name: </label>
      <input type='text' name='color' /><br /><br />
      <input type='submit' />
      <a href='/colors'><button>Reset</button></a>
    </fieldset>
  </form>
</div>

<form method='POST' id='add_colors' action='/add-color-form'>
  <fieldset>
    <legend>Add New Color</legend>
    <label for='input-color'>Color name:</label>
    <input type='text' id='input-color' name='input-color' /><br /><br />
    <input type='submit' value='Add color' />
  </fieldset>
</form>