<h1>{{pageTitle}}</h1>
<div class="table-responsive">
<table class="table table-sm table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      {{#each data.[0]}}
        <th>
          {{@key}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr data-value={{this.customer_id}}>
        <td>{{this.customer_id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.address}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>
