<table id="orders-table">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id, order_date, order_quantity, total_sale_price and customer_id, in order --}}
        {{#each data}}
        <tr data-value={{this.order_id}}>
            <td>{{this.order_id}}</td>
            <td>{{this.order_date}}</td>
            <td>{{this.order_quantity}}</td>
            <td>{{this.total_sale_price}}</td>
            <td>{{this.customer_id}}</td>
            <td>{{this.payment_method_id}}</td>
            <td>{{this.discount_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Search Using an HTML Form</h2>
<p>Search by order id using the field below. Partial order id is okay too!</p>
<form id="search-orders-html" method='GET' action='/orders'>
    <label for="input-order_id">Search by Order ID: </label>
    <input type="text" name="order_id" id="input-order_id-html-search">
    
    <input type="submit">
    <a href='/orders'><button>Reset</button></a>
</form>

<!-- /views/index.hbs -->
<h2>Adding Data using an HTML form</h2>
<p>To add a new order, please enter their information below and click `Submit`!</p>
<form id="add-order-form" method="POST" action="/add-order-form">
    <label for="input-order_date">Order Date: </label>
    <input type="text" name="input-order_date" id="input-order_date">
    
    <label for="input-order_quantity">Order Quantity: </label>
    <input type="text" name="input-order_quantity" id="input-order_quantity">

    <label for="input-total_sale_price">Total Sale Price: </label>
    <input type="text" name="input-total_sale_price" id="input-total_sale_price">

    <label for="input-customer_id">Customer ID: </label>
    <input type="number" name="input-customer_id" id="input-customer_id">

    <label for="input-payment_method_id">Payment Method ID: </label>
    <input type="number" name="input-payment_method_id" id="input-payment_method_id">

    <label for="input-discount_id">Discount ID: </label>
    <input type="number" name="input-discount_id" id="input-discount_id">

    <input type="submit">
</form>
<table id="orders-table">

<h2>Updating Data using an HTML form</h2>
<p>To update a new order, please enter their id below and click `Submit`!</p>
<p><strong>Blank values will be deleted!</strong></p>
<form id="update-order-form" method="POST" action="/update-order-form">
    <label for="input-order_id">Order ID: </label>
    <input type="number" name="input-order_id" id="input-order_id">
    
    <label for="input-order_date">Order Date: </label>
    <input type="text" name="input-order_date" id="input-order_date">
    
    <label for="input-order_quantity">Order Quantity: </label>
    <input type="text" name="input-order_quantity" id="input-order_quantity">

    <label for="input-total_sale_price">Total Sale Price: </label>
    <input type="text" name="input-total_sale_price" id="input-total_sale_price">

    <label for="input-customer_id">Customer ID: </label>
    <input type="number" name="input-customer_id" id="input-customer_id">
    <input type="submit">

    <label for="input-payment_method_id">Payment Method ID: </label>
    <input type="number" name="input-payment_method_id" id="input-payment_method_id">
    <input type="submit">

    <label for="input-discount_id">Discount ID: </label>
    <input type="number" name="input-discount_id" id="input-discount_id">
    <input type="submit">
</form>

<h2>Deleting Data using an HTML form</h2>
<p>To delete a new order, please enter their id below and click `Submit`!</p>
<form id="delete-order-form" method="POST" action="/delete-order-form">
    <label for="input-order_id">Order ID: </label>
    <input type="number" name="input-order_id" id="input-order_id">
    <input type="submit">
</form>